:root {
  --color-text-default: #ffffff;
  --bg-item-main-color: #03033f;
  --bg-item-main4-color: #0303b6;
}

body {
  background-color: #f6f6fb !important;
}

.break-word {
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}
